<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95003084669-i4a9t6c9prusuumcj86lc2g5aru2r6cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95003084669-i4a9t6c9prusuumcj86lc2g5aru2r6cb</string>
	<key>API_KEY</key>
	<string>AIzaSyD9dxvG6nppxpI1WGQUSW-DIr8nw0B0xto</string>
	<key>GCM_SENDER_ID</key>
	<string>95003084669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deanpearce.fastchat</string>
	<key>PROJECT_ID</key>
	<string>mychatapp-709db</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp-709db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95003084669:ios:45b1631182ed82d5d2ae14</string>
	<key>DATABASE_URL</key>
	<string>https://mychatapp-709db.firebaseio.com</string>
</dict>
</plist>